.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.section-cart {
  flex: 1;
}

.title {
  text-transform: uppercase;
  color: #555555;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}

h5 {
  text-align: center;
}

img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

table,
thead,
tbody,
tr,
th,
td {
  border: 1px solid rgb(209, 204, 204) !important;
  border-collapse: collapse;
}

.shopping-cart {
  width: 100%;
}

.product-thumbnail {
  padding: 5px;
}

.product-thumbnail img {
  max-width: 50px;
}

.shopping-cart {
  display: none;
}

#show-shopping-cart {
  display: none;
}

#show-shopping-cart:checked + .shopping-cart {
  display: table;
}

.shopping-cart-columns tr {
  text-align: center;
}

.cart-items .cart-item {
  text-align: center;
}

tfoot {
  text-align: center;
}

.product-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-quantity .btn {
  border: none;
}

.cart-item-actions button {
  border: none;
  background: 0;
}
